﻿@using PublicChat.Core
@model Message
<script src="../../Scripts/chat.js" type="text/javascript"></script>
<h1>
    Добрый день, @ViewBag.UserName !
</h1>
<h2>
    Сейчас онлайн:</h2>
<div id="chat" class="chatwindow">
</div>
<textarea id="usersonline" rows="10" cols="20" readonly>    
</textarea>
<div>
    <textarea id="message" rows="10" cols="20"></textarea>
    <div>
        <input id="send" type="button" value="Отправить" />
    </div>
</div>
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.AuthorName)
@Html.HiddenFor(m => m.Text)
@Html.Raw(String.Format("<input type=\"hidden\" id=\"username\" value=\"{0}\"/>", ViewBag.UserName))
@Html.Raw("<input type=\"hidden\" id=\"idmessagetoedit\">")
    @{
        if (ViewBag.IsAdmin)
        {
            @Html.Raw("<div id=\"blockarea\"> <h3> Блокировка пользователей: </h3> " +
                            "<input id=\"usertoblock\" type=\"text\" class=\"editor-field\" title=\"Введите имя\" />" +
                            "<select id=\"timetoblock\" title=\"Время бана\">" +
                            "<option>1</option><option>5</option><option>15</option><option>30</option><option>60</option><option>∞</option>" +
                            "    </select> минут  </div> ")
            @Html.Raw("<input type=\"button\" id=\"block\" value=\"Заблокировать\"/>")
        }
    }
