﻿@using PublicChat.Core
@model User
@{
    ViewBag.Title = "Регистрация в чате";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Chat","Home",FormMethod.Get))
{
    <div>
        <fieldset>
            <legend>Регистрация в чате</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
               <!-- <label id="usernamevalidation"class="field-validation-error"> @ViewBag.NameExists</label>    -->
            </div>
            <p>
                <input type="submit" id="submitbutton" value="Войти в чат" title="Зарегистрироваться" />
            </p>
        </fieldset>
    </div>
}
